<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            medicine
        </title>
        <link rel = "stylesheet" href = "/public/styles.css">
    </head>
    <body>
        <h1>
            <%= name %>
        </h1>
        <ul>
            
            <%if(params[0] === undefined){%>
                <p>No data found</p>
            <%}%>
            <%params.forEach(function(med){%>
                <li>Price: <%=med.price%></li>
                <li>Size: <%=med.size%></li>
                <li>Company: <%=med.company%></li>
            <%})%>
        </ul>
    </body>
</html>