*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
 }
 body{
     height: 100vh;
 }
 div#first_container{
     height:200vh;
     width:100vw;
    
     
     background-image: linear-gradient( 20deg ,  rgba(197, 195, 62, 0.61),rgba(89, 212, 221, 0.815),rgb(247, 240, 248))
 }
 
 
 ul#navbar{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content:right;
     list-style: none;
     align-items: center;
     height: 50px;
    
     
 }
 ul#navbar li{
     flex:0.080;
     
 }
 a.nav_links{
     text-decoration: none;
     
     color: rgb(12, 9, 9);
     font-weight: bolder;
 }
 #div_for_logo{
     height: 200px;
     width: 500px;
     /* background-color: rgba(255, 255, 255, 0.171); */
    margin:auto;
    margin-top: 30px;
 
     
 
 }
 div#div_for_tagline{
     min-height: 30px;
     color: blanchedalmond;
     margin-top: 40px;
 
 }
 div#div_for_search{
     display: flex;
     position: relative;
     flex-direction: row;
     justify-content: center;
     margin-top: 60px;
 }
 p#tagline{
     position: absolute;
     left:170px;
     color: black;
     
 }
 input#input_med{
     flex: 0.6;
     height: 40px;
     border-radius: 0;
     background-color: rgba(0, 0, 0, 0.5);
     color: rgb(255, 248, 248);
 }
     #section_for_adv{
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         flex:1;
         justify-content: space-around;
         align-items: center;
         height:380px;
     }
     div.companies{
         height:300px;
         width: 200px;
         background-color:rgba(255, 255, 255, 0.08)  ;
         backdrop-filter: blur(30px);
         border: solid rgba(148, 146, 146, 0.411) 0.1px;
         border-radius: 28px;
         transform:rotateZ(0deg);
         
        
         box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
         /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          */
     }
